@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600&display=swap');
:root{
    --green:#1500ff;
}
*{
    font-family: 'Nunito', sans-serif;
    margin:0; padding:0;
    box-sizing: border-box;
     text-decoration: none; 
    outline: none; border:none;
    /* text-transform: capitalize; */
    transition: all .2s linear;
}
*::selection{
    background:var(--green);
    color:rgb(18, 11, 66);
}
html{
    font-size: 62.5%;
    overflow-x: hidden;
}
html::-webkit-scrollbar{
    width:1.4rem;
}
html::-webkit-scrollbar-track{
    background:rgb(8, 21, 73);
}
html::-webkit-scrollbar-thumb{
    background:var(--green);
}
body{
    background:rgb(2, 6, 54);
    overflow-x: hidden;
    padding-left: 35rem;
}
section{
    min-height: 100vh;
    padding:1rem;
}
.btn{
    padding:.7rem 3rem;
    background:rgb(0, 64, 255);
    color:#fff;
    cursor: pointer;
    margin-top: 1rem;
    font-size: 2rem;
    border-radius: 5rem;
}
.btn i{
    padding:0 .5rem;
    font-size: 1.8rem;
}
.btn:hover{
    background:var(--green);
}

header{
    position: fixed;
    top:0; left:0;
    z-index: 1000;
    height:100%;
    width:35rem;
    background:#1b213e;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    text-align: center;
}

header .user img{
    height:17rem;
    width:17rem;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 1rem;
    border:.7rem solid var(--green);
}
header .user .name{
    font-size: 3.5rem;
    color:#fff;
}

header .user .post{
    font-size: 2rem;
    color:#eee;
}
header .navbar{
    width:100%;
}
header .navbar ul{
    list-style: none;
    padding:1rem 3rem;
}
header .navbar ul li a{
    display: block;
    padding:1rem;
    margin:1.5rem 0;
    background:rgb(0, 8, 255);
    color:#fff;
    font-size: 2rem;
    border-radius: 5rem;
}
header .navbar ul li a:hover{
    background:var(--green);
}
.home{
    display: flex;
    justify-content: center;
    flex-flow: column;
    padding:0 15rem;
}
.home h3{
    font-size: 2.5rem;
    color:#fff;
}
.home h1{
    font-size:5rem;
    color:#fff;
}
.home h1 span{
    color:var(--green);
}
.home p{
    font-size:2rem;
    color:#eee;
    padding: 1rem 0;
}